.App {
  display: flex;
  margin: 40px;
  min-height: calc(100vh - 100px);
}

.left {
  background-color: darkslategray;
  color: azure;
  border-radius: 5px;
  margin: 10px;
}

.right {
  background-color: wheat;
  color: firebrick;
  border-radius: 5px;
  margin: 10px;
}