/**
* Normalize CSS
/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

p {
  margin: 0;
  padding: 0;
}

.Accordion {
  list-style: none;
}

.Accordion-item {
  border: 1px solid grey;
  border-radius: 3px;
  box-sizing: border-box;
  width: 250px;
}

.Accordion-content {
  padding: 5px;
}

.Accordion-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  text-align: left;
  background-color: slategray;
  width: 100%;
  height: 100%;
  color: white;
  outline: none !important;
}

.Accordion-btn:active
.Accordion-btn:focus {
  outline: none !important;
}

.Accordion-btn:hover {
  background: rgb(75, 86, 97);
}